<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<!-- inline js  -->
	<script type="text/javascript">
		<%= compilation.assets[htmlWebpackPlugin.files.chunks.h0.entry.substr(htmlWebpackPlugin.files.publicPath.length)].source() %>
	</script>
	
</head>
<body>
	<div><%= htmlWebpackPlugin.options.date %></div>
	<% for(var key in htmlWebpackPlugin) { %>
		<div><%= key %></div>
	<% } %>

	<% for(var key in htmlWebpackPlugin.files) { %>
		<div>Key-<%= key %></div>
		<div><%= JSON.stringify(htmlWebpackPlugin.files[key]) %></div>
	<% } %>
	<% for(var key in htmlWebpackPlugin.options) { %>
		<div>Key-<%= key %></div>
		<div><%= JSON.stringify(htmlWebpackPlugin.options[key])  %></div>
	<% } %>

	<!-- 自由配置 -->
	<% for(var key in htmlWebpackPlugin.files.chunks) { %>
		<!-- 排除公关部分-->
		<% if(key !=="h0"){ %>
			<script src="<%= htmlWebpackPlugin.files.chunks[key].entry %>">
			</script>
		<% }%>
	<% } %>
	<link rel="stylesheet" href="/icc">
	
</body>
</html>